@page "/all-tasks"

<PageTitle> All Tasks </PageTitle>

<MudText Align="Align.Center">
    <h1>Overview</h1>
</MudText>

<MudGrid Justify="Justify.Center">
    <MudItem sm="7">
        <MudText Typo="Typo.h6" GutterBottom="true">All Tasks</MudText>
        <MudPaper Width="100%" Elevation="3">
            @if (HasLists)
            {
                <MudList>
                    @foreach (var list in masterList)
                    {                        
                        <MudPaper Width="100%" Elevation="3" Style="margin-bottom: 20px">
                            <MudListItem>
                                <MudGrid Justify="Justify.Center">
                                    <MudText Typo="Typo.h5"> @list.Name </MudText>
                                </MudGrid>
                            </MudListItem>
                        </MudPaper>

                        @if (list.Tasks.Count(t => !t.IsChecked) == 0) // THIS IS IMPORTANT! REASON FOR BUG, it counts completed tasks too!!!
                        {
                            <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                                This List Is Empty, Add Some Tasks!
                        </MudText>
                        }
                        else
                        {
                            @foreach (var task in tasks)
                            {
                                if (task.TaskListId == list.Id)
                                {
                                    <MudListItem>
                                        <MudGrid Justify="Justify.FlexStart">
                                            <MudCheckBox Checked="@task.IsChecked" CheckedChanged="@CreateCheckCallback(task)" Color="Color.Primary" Style="margin-top: 21px" Dense="true"></MudCheckBox>
                                            <MudTextField @bind-Value="@task.Description" OnBlur="@(() => HandleEditTask(task))" Clearable="true" Immediate="true"></MudTextField>
                                            <MudItem xs="1" sm="1" md="1">
                                                <MudFab Color="Color.Default" OnClick="@(() => HandleDeleteTask(task))" EndIcon="@Icons.Material.Rounded.Delete" Size="Size.Small"></MudFab>
                                            </MudItem>
                                        </MudGrid>
                                    </MudListItem>
                                }

                            }
                        }
                        
                    }
                </MudList>
            }
            else
            {
                <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                    No Lists Found. Create A List And Add Some Tasks!
                </MudText>
            }
        </MudPaper>
        <MudTextField @bind-Value="newTask.Description" Label="Enter a new task" Variant="Variant.Outlined" Clearable="true" Style="margin-top: 10px; margin-bottom: 10px"></MudTextField>
        <MudButton OnClick="HandleCreateTask" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Rounded.AddCircleOutline">Add Task</MudButton>
    </MudItem>
</MudGrid>
