@page "/my-lists"

<PageTitle>My Lists</PageTitle>

<MudText Align="Align.Center">
    <h1>My Lists</h1>
</MudText>

<MudGrid Justify="Justify.Center">
    <MudItem sm="7">
        <MudText Typo="Typo.h6" GutterBottom="true">All Lists</MudText>
        @if (HasLists)
        {
            <MudList>
                @foreach (var list in masterList)
                {
                    <MudGrid Justify="Justify.Center">
                        <MudItem sm="10">
                            <MudButton Href="@ComputeLinkHref(list.Id)"
                                       Target="_self"
                                       Variant="Variant.Filled"
                                       Color="Color.Default"
                                       FullWidth="true"
                                       Style="margin-bottom: 20px">
                                @list.Name
                            </MudButton>
                        </MudItem>
                        <MudItem sm="1" Style="margin-top: 3px; margin-left: 0px">
                            <MudText Typo="Typo.h6">
                                (@list.Tasks.Count(t => !t.IsChecked))
                            </MudText>
                        </MudItem>
                        <MudItem sm="1" Style="margin-left: -22px; margin-top:-4px">
                            <MudMenu Icon="@Icons.Material.Filled.Settings" Dense="true" AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.TopLeft">
                                <MudMenuItem OnClick="@(() => OpenDialogEdit(list))">Edit</MudMenuItem>
                                <MudMenuItem OnClick="@(() => OpenDialogDelete(list))">Delete</MudMenuItem>
                            </MudMenu>
                        </MudItem>
                    </MudGrid>
                }
            </MudList>
        }
        else
        {
            <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                No Lists Found. Create A List And Add Some Tasks!
            </MudText>
        }
        <MudTextField @bind-Value="newList.Name" Label="Enter a new List" Variant="Variant.Outlined" Clearable="true" Style="margin-top: 10px; margin-bottom: 10px"></MudTextField>
        <MudButton OnClick="HandleCreateList" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Rounded.AddCircleOutline">Create A List</MudButton>
    </MudItem>
 </MudGrid>