@page "/list/{ListId:int}"

<PageTitle>Task Display</PageTitle>

<MudText Align="Align.Center">
    <h1>Task Display</h1>
</MudText>

<MudGrid Justify="Justify.Center">
    <MudItem md="9" xl="6">
        @if (CurrentList == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <MudGrid Justify=Justify.SpaceBetween Style="margin-bottom: 10px">
                <MudItem sm="3">
                    <MudText Typo="Typo.h6" GutterBottom="false" Align="Align.Left" Style="margin-left: 10px; margin-top: 25px"> <b>@CurrentList.Name</b></MudText>
                </MudItem>

                <MudLink Href="/my-lists" Style="margin-right: 20px; margin-top: 50px; margin-bottom: 10px">⬅ My Lists</MudLink>
               
                
            
            
                <MudItem sm="3" >
                    <MudSelect T="string" Label="Sort By" Value="@selectedSort" ValueChanged="@SortTasksChanged" Variant="Variant.Text">
                        <MudSelectItem Value="@("Creation Date")" />
                        <MudSelectItem Value="@("Due Date")" />
                        <!-- Add more sort options here if needed -->
                    </MudSelect>
                </MudItem>
            </MudGrid>
            


            @if (HasTasks)
            {
                <MudStack Spacing="2">
                    @foreach (var task in SortedTasks)
                    {
                        <TaskChunk Task="@task"
                                   OnDelete="HandleDeleteTask"
                                   OnEdit="HandleEditTask"
                                   OnStartEdit="StartEdit"
                                   OnCheck="(() => HandleCheckTask(task))">
                        </TaskChunk>
                    }
                </MudStack>
            }

            else
            {
                <MudText Align="Align.Center" Typo="Typo.overline" Style="margin-left: 10px">
                    There are no pending tasks
                </MudText>
            }
       }
    </MudItem>
</MudGrid>

<MudGrid Justify="Justify.Center">
    <MudItem md="9" xl="6">
        <MudPaper Width="100%" Elevation="3" Square="false" Style="margin-top: 10px; margin-bottom: 50px">
            <MudGrid Justify="Justify.Center">
               
                <MudItem md="8">
                    <MudTextField @bind-Value="NewTask.Description" Label="Enter a new task" Variant="Variant.Outlined" Clearable="true" Style="margin-top: 10px; margin-bottom: 10px"></MudTextField>
                </MudItem>

                @if(NewTask.DueDetails == null)
                {
                NewTask.DueDetails = new DueDetails();
                }
                <MudItem md="3">
                    <MudDatePicker Label="Due Date" @bind-Date="NewTask.DueDetails.DueDate" DisableToolbar="false" PickerVariant="PickerVariant.Dialog" />
                </MudItem>
                <MudGrid Justify="Justify.Center">
                    <MudItem md="9">
                    </MudItem>
                    <MudItem md="3" Style="margin-left: -80px; margin-top: -40px">
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" MinuteSelectionStep="5" Label="Due Time" AmPm="true" @bind-Time="NewTask.DueDetails.DueTime" />
                    </MudItem>
                </MudGrid>              
                
            </MudGrid>
            <MudGrid Justify="Justify.Center">
                <MudItem md="12">
                </MudItem>
                <MudItem md="3">
                    <MudButton OnClick="HandleCreateTask" Style="margin-top:-50px" Variant=" Variant.Filled" Color="Color.Success" Size=Size.Medium StartIcon="@Icons.Material.Rounded.AddCircleOutline">Add Task</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>
